@media (max-width: 1220px) {
    .navbar {
      ul.navbar-nav {
        li.nav-item {
          &--phone {
            display: none;
          }
        }
      }
    }
  }
  
  @media (max-width: 991px) {
    .navbar {
      a.navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .navbar-toggler {
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
        
        &:focus {outline: none}
      }
      ul.navbar-nav {
        li.nav-item {
          border-top: 1px solid #eee;
  
          a.nav-link {
            padding: 15px;
          }
          &--phone {
            display: inline-block;
            a.nav-link {
                padding-left: 0;
                padding-right: 0;
              small {
                position: static;
                margin-left: auto;
              }
            }
          }
        }
        li.nav-search {
            padding: 15px 0;
            border-top: 1px solid #eee;

            form.form-inline {
                display: block;
                width: 100%;
                height: 40px;
                margin-left: 0;

                .form-control {
                    width: 100%;
                    max-width: 100%;
                    height: 40px;
                    top: 0;
                    right: 0;
                    &.active {
                    max-width: 100%;
                    }
                }

                button {
                    left: auto;
                    right: 7px;
                    top: 6px;
                }
            }
        }
        li.dropdown {
          &.f-w-open {
            ul.dropdown-menu {
              margin-left: -15px;
              margin-right: -15px;
            }
          }
        }
      }
    }
    .article-content {
      padding: 30px;
    }
  }
  
  @media (min-width: 992px) {
    .navbar {
      ul.navbar-nav {
        li.dropdown {
          &.f-w-open {
            &:hover {
              ul.dropdown-menu {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .w-md-100 {
        width: 100%!important;
    }
    .navbar {
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
          }
          &--phone {
            a.nav-link {
              small {
  
              }
            }
          }
        }
        li.dropdown {
          &.f-w-open {
            ul.dropdown-menu {
              padding: 15px 0 20px;
              .b-dropdown-text {
                .container {
                  max-width: 100%;
                }
                .btn-default {
                  margin-top: 20px;
                }
                .req-call-link {
                }
                .link-w-icon {
                  padding: 8px 0;
                }
              }
            }
          }
        }
      }
    }
  
    .header {
  
      &__title {
        font-size: 34px;
      }
  
      &__form {
        select.form-control {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 0;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 0;
          appearance: none;
        }
  
        input.form-control {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
  
        .btn {
          height: 64px;
          border-radius: 6px;
          margin-top: 20px;
        }
  
        .tooltip-help {
          position: absolute;
          right: 10px;
          top: 0px;
          color: #b2b2b2;
          cursor: pointer;
        }
  
        .fa-icon {
          position: absolute;
          right: 15px;
          top: 16px;
          color: #28a745;
          font-size: 20px;
        }
      }
    }
    .home-carousel-wrap {
      .home-carousel {
        .carousel-inner {
          .carousel-item {
            .carousel-caption {
              img {
                // height: 200px;
              }
            }
          }
        }
  
        &__content {
          text-align: center;
        }
      }
    }
    .article-content {
      padding: 15px;
    }
    .rating-card {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .h-testimonial {
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .desc-card {
        margin: 0 15px;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
        border-bottom: 1px solid #e0e0e0;
    }
    .post-card {
        &__img {
            height: 200px;
        }
    }
    .footer {
        &__logo {
            p {
                color: #707070;
                padding-bottom: 20px;
                border-bottom: 1px solid #ebebeb;
            }
        }
        &__social {
            border-top: 1px solid #ebebeb;
            padding-top: 20px;
        }
        &__copyright {
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
  }
  
  @media (max-width: 500px) {
    .post-card {
        &.post-card-lg {
            .post-card__content {
                width: 90%;
                bottom: 20px;
            }
        }
    }
  }